<section class="contact">
	<div class="container">
	<div class="row">
		<div class="title">Get In Touch</div>
	</div>
	<div class="well">
	<div class="row">
		<div class="col-md-12">
		  <form class="form-horizontal" action="MAILTO:amulya.yadagani09@gmail.com" method="post">
		  	<div class="form-group">
      <label class="control-label col-sm-2" for="email">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div></div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="phone">Phone:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Message:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="message" placeholder="Enter message" name="message"></textarea>
      </div>
  	</div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>

</div>
	</div>
</div>
</div>
</section>