.contact{
	background: url('../../assets/email-pattern.png') repeat;
	min-height:700px;

	.title{
		text-align: center;
	    color: #0b3c5d;
	    font-size: 40px;
	    font-family: 'Acme', sans-serif;
	    margin-bottom: 20px;
	}

	.well{
		background-color:#fff;
	}
}