<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-title" href="#">Suryadevera Rammohan Rao</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right menu-item">
        <li routerLinkActive="active"><a [title]="Home" routerLinkActive="active" (click)="changeMenu('home')">Home</a></li>
        <li routerLinkActive="active"><a [title]="Books" routerLinkActive="active" (click)="changeMenu('books(category:books/telugu')">Books</a></li>
        <li routerLinkActive="active"><a [title]="Movies" routerLinkActive="active" (click)="changeMenu('movies')">Movies</a></li>
        <li routerLinkActive="active"><a [title]="About" routerLinkActive="active" (click)="changeMenu('about')">About</a></li>
        <li routerLinkActive="active"><a [title]="Contact" routerLinkActive="active" (click)="changeMenu('contact')">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid main-section">
  <router-outlet></router-outlet>
  <router-outlet name="category"></router-outlet>
</div>
    
<nav class="navbar navbar-default ">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand navbar-title" href="#">Suryadevera Rammohan Rao</a>
    </div>
    <div class="navbar-right footer">
      Copyright © 2019 Suryadevara Ram Mohan Rao All Rights Reserved
    </div>
  </div>
</nav>  

