<div class="row grayBox">
	<div class="container">
	<div class="col-md-4 rmrightPadding rmleftPadding">
    	<img class="img-responsive img1" src="../../assets/img1.jpeg"/>
	</div>
	<div class="col-md-8 rmleftPadding rightCol">
		<div class="rightColData"><p class="blockquote">I am professional writer with more than <span style="color:'#cd5360'">15&nbsp;years</span> of experience in story&nbsp;telling. Author of highest number of novels in TELUGU</p></div>
<div class="btnGroup">
	<button class="btn btnGreen">Contact Me</button>
	<button class="btn btnGreen">View Books</button>
</div>
<br>
<div><div class="btnGroup">
	<button class="btn btnDefault btnRound"><i class="fa fa-facebook"></i></button>
	<button class="btn btnDefault btnRound"><i class="fa fa-twitter"></i></button>
	<button class="btn btnDefault btnRound"><i class="fa fa-instagram"></i></button>
</div></div>
</div>
</div></div>
	<section class="section1">
		<div class="layer">
			<div class="container">

<div class="row">
	<div class="col-md-12">
		<div class="subtitle"><span class="textGradientGreen">A</span>bout&nbsp;&nbsp;Me</div>
		<div class="data">"Suryadevara was honored with the designation "Man of Records" by the International World Records Achievers Society in 2014 for authoring the largest number of novels in various Indian languages, as well as his two English-language novels "The Enemy of Mankind" and  "The Dictator of the Dark". He has also garnered 32 literary awards from various societies, organizations, and NGOs for his exceptional contribution to Indian literature. Suryadevara Ram Mohan Rao currently resides in Hyderabad, India and continues to strive for excellence in literature.".
		<a class="green linkText"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Find out more</a>	
		</div>

	</div>
</div></div></div>
</section>
	<section class="section2">
					<div class="container">

<div class="row">
	<div class="col-md-12">
		<div class="subtitle"><span class="textGradientGreen">A</span>chievements</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<div class="shadowBox">
			<i class="fa fa-trophy fa-5x green"></i>
			<div class="subText">15 Awards</div>
<!-- 			<a class="green linkText"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Find out more</a>
 -->		</div>
	</div>
	<div class="col-md-4">
		<div class="shadowBox">
			<i class="fa fa-certificate fa-5x green"></i>
			<div class="subText">15 Certificates</div>
<!-- 			<a class="green linkText"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Find out more</a>background-image: linear-gradient(#717171,white);
 -->		</div>
	</div>
	<div class="col-md-2"></div>	
</div>
	<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2"><a class="green linkText"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Find out more</a></div>
	</div>
</div>
</section>
	<section class="section3">
							<div class="container">

<div class="row">
	<div class="col-md-12">
		<div class="subtitle"><span class="textGradientGreen">B</span>ooks</div>
	</div>
</div>
<div class="row grid">
	<div class="col-sm-3">
		<div class="grid_box">
			<a><img class="img-responsive grid_img" src="../../assets/telugu/Anitara_Saadyudu.jpg"/>
			<div class="book_category">Telugu</div></a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="grid_box">
			<a><img class="img-responsive grid_img" src="../../assets/kannada/Aathmagamana.jpg"/>
			<div class="book_category">Kannada</div></a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="grid_box">
			<a><img class="img-responsive grid_img" src="../../assets/english/The_Dictator_Of_The_Dark.jpg"/>
			<div class="book_category">English</div></a>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="grid_box">
			<a><img class="img-responsive grid_img" src="../../assets/tamil/1.jpg"/>
			<div class="book_category">Tamil</div></a>
		</div>
	</div>
</div>
</div>
</section>
